.footer {
    background-color: #4D2D18;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    margin-top: auto; 
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.3);
}

.footer-content {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer-content a {
    text-decoration: none;
    color: #CABA9C;
    font-size: 14px;
}

.footer-content a:hover {
    color: #4C6444;
}

.copyright {
    margin-top: 10px;
    font-size: 12px;
    color: #CABA9C;
}
