.home {
    width: 800px;
    padding: 20px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.home h1 {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-size: 30px;
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
    text-align: center;
    color: #F7DCB9;
    margin-bottom: 20px;
}

.home button {
    font-family: "Poppins", sans-serif;
    background-color: #4C6444;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    color: #CABA9C;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.home button:hover {
    background-color: #5a754e;
}

.categorii-feed h2 {
    font-family: "Poetsen One", sans-serif;
    color: #F7DCB9;
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
}

.categorii-feed {
    font-family: "Poetsen One", sans-serif;
    position: fixed;
    top: 0;
    left: 20px;
    width: 280px; 
    height: 100vh;
    padding-top: 130px; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.categorii-feed .categorie {
    color: #CABA9C;
    background-color: #4D2D18;
    border-radius: 5px;
    padding: 7px;
    margin-bottom: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    text-align: center; 
    width: 100%;
}

.categorie.selectata {
    background-color: #744424;
}

.categorie:hover {
    background-color: #744424;
}

.postari-feed input {
    width: 550px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.fara-postari p {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #F7DCB9;
    text-align: center;
    margin-top: 20px;
}

.postare {
    font-family: "Poppins", sans-serif;
    background-color: #102820;
    padding: 15px;
    margin: 10px 0 20px 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

.continut-autor {
    display: flex;
    align-items: center;
}

.continut-autor strong {
    margin-left: 10px;
    font-size: 1.1em;
    color: #CABA9C;
    cursor: pointer;
}

.postare-header h2 {
    font-size: 1.2em;
    color: #CABA9C;
}

.postare-header p {
    font-size: 0.9em;
    color: #CABA9C;
}

.postare-actions {
    display: flex;
    gap: 15px;
    margin-top: 15px;
}

.postari-header button{
    background-color: #102820;
}

.postari-header button:hover {
    background-color: #184530;
}

.postari-feed button {
    padding: 8px 12px;
    font-size: 14px;
}

.postare-stats {
    margin-top: 10px;
    font-size: 0.9em;
    color: #CABA9C;
}

.stiri-feed {
    font-family: "Poetsen One", sans-serif;
    font-weight: 100;
    position: fixed;
    top: 0;
    right: 0;
    width: 320px;
    height: 100vh;
    padding-top: 130px;
}
  
.stiri-feed h2 {
    font-family: "Poetsen One", sans-serif;
    color: #F7DCB9;
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    margin-left: 50px;
}
  
.stiri-feed ul {
    list-style: none;
}
  
.stiri-feed li {
    font-weight: bold;
    color: #8A6240;
    background-color: #4D2D18;
    border-radius: 5px;
    padding: 10px;
    margin: 0 20px 10px 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.stiri-feed li:hover {
    background-color: #744424;
}

.stiri-feed li strong {
    color: #CABA9C;
}

.stiri-feed a {
    font-weight: bold;
    color: #CABA9C;
    margin-left: 110px;
}

.stiri-feed a:hover {
    color: #4D2D18;
}

.delete-btn {
    background-color: #7c9a6d;
    padding: 4px 8px;
    margin-left: auto;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    z-index: 1;
    width: 300px;
}

.modal p {
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: bold;
    color: #4C6444; 
}

.modal button {
    margin: 5px;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}

.modal button:first-of-type {
    background-color: #ddd;
    color: black;
}

.modal button:last-of-type {
    background-color: #914F1E;
    color: white;
}

.modal button:hover {
    opacity: 0.8;
}

.modal-butoane {
    display: flex;
    justify-content: center;
}

.like-btn.liked {
    background-color: #5a754e;
}

.comentarii {
    margin-top: 15px;
    padding: 10px;
    background-color: #4C6444;
    box-shadow: 0 2px 5px rgba(0.2, 0, 0, 0.5);
    border-radius: 5px;
}

.comentariu {
    padding: 8px;
    background-color: #102820;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0.2, 0, 0, 0.5);
}

.profil-img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
}

.continut-comentariu {
    color: #F7DCB9;
    font-weight: bold;
}

.comentariu-stats {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 0.9em;
    color: #F7DCB9;
}

.comentariu-data {
    color: #CABA9C;
}

.comentarii-hidden {
    display: none;
}

.comentarii button {
    margin-top: 10px;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.adauga-comentariu {
    margin-top: 15px;
    display: flex;
}

.adauga-comentariu input {
    margin-left: -2px;
    flex-grow: 1;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
}

.comentarii-container {
    margin-top: 15px;
}

.paginare {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.paginare button {
    background-color: #102820;
    padding: 10px 20px;
    font-size: 16px;
}

.paginare button:hover {
    background-color: #184530;
}

.paginare button:disabled {
    background-color: #bdc3c7;
    color: #102820;
    cursor: not-allowed;
}

@media (max-width: 1500px) {
    .categorii-feed {
        width: 200px;
    }

    .postari-feed {
        width: 550px;
        margin-left: 200px;
    }

    .postari-feed input {
        width: 340px;
    }
    .stiri-feed {
        display: none;
    }
  }
  