.home {
    width: 900px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 100px;
}

.home h1 {
    font-family: "Spicy Rice", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
    text-align: center;
    color: #914F1E;
    margin-bottom: 20px;
}

.postari-feed {
    margin-top: 20px;
}

.postare {
    font-family: "Poppins", sans-serif;
    background-color: #F7DCB9;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

.postare-header {
    margin-bottom: 15px;
}

.postare-header h2 {
    font-size: 1.2em;
    color: #914F1E;
    font-style: bold;
}

.postare-header strong {
    position: absolute;
    margin-left: 10px;
    margin-top: 5px;
    font-size: 1.1em;
    color: #5a754e;
}

.data-creare {
    font-size: 0.9em;
    color: #5a754e;
}

.postare-actions {
    display: flex;
    gap: 15px;
    margin-top: 15px;
}

.postari-feed button {
    font-family: "Poppins", sans-serif;
    padding: 10px 15px;
    background-color: #7c9a6d;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.postari-feed button:hover {
    background-color: #5a754e;
}

.like-btn.liked {
    background-color: #5a754e;
    color: white;
}

.postare-stats, .comentariu-stats {
    margin-top: 10px;
    font-size: 0.9em;
    color: #914F1E;
}

.comentarii {
    margin-top: 15px;
    padding: 10px;
    background-color: #F7DCB9;
    box-shadow: 0 2px 5px rgba(0.2, 0, 0, 0.5);
    border-left: 4px solid #7c9a6d;
    border-radius: 5px;
}

.comentariu {
    padding: 8px;
    background-color: #fbf0e6;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0.2, 0, 0, 0.5);
}

.profil-img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
}

.nume-utilizator {
    position: absolute;
    margin-left: 10px;
    margin-top: 5px;
    color: #5a754e;
}

.continut-comentariu {
    color: #914F1E;
    font-weight: 600;
}

.comentariu-data {
    text-align: right;
}

.comentarii-hidden {
    display: none;
}

.comentarii button {
    padding: 10px 15px;
    margin-top: 10px;
    background-color: #7c9a6d;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.comentarii button:hover {
    background-color: #5a754e;
}

.adauga-comentariu {
    margin-top: 15px;
    display: flex;
    gap: 10px;
}

.adauga-comentariu input[type="text"] {
    background-color: #fbf0e6;
    flex-grow: 1;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
}

.adauga-comentariu button {
    padding: 10px 15px;
    background-color: #7c9a6d;
    color: #fff;
    border: none;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.adauga-comentariu button:hover {
    background-color: #5a754e;
}

.comentarii-container {
    margin-top: 15px;
}

.paginare {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.paginare button {
    padding: 10px 20px;
    background-color: #7c9a6d;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.paginare button:hover {
    background-color: #5a754e;
}

.paginare button:disabled {
    background-color: #bdc3c7;
    cursor: not-allowed;
}

.lista-categorii {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
    position: fixed;
    top: 0;
    left: 0;
    width: 240px;
    height: 100vh;
    background-color: #7c9a6d;
    padding-top: 125px; 
    padding-left: 10px;
    padding-right: 15px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.categorie {
    padding: 10px;
    margin-bottom: 5px;
    margin-right: 5px;
    background-color: #F7DCB9;
    color: #914F1E;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s;
}

.categorie:hover {
    background-color: #d1b296;
}

.buton-vizibilitate-categorii {
    left: 30px;
    position: fixed;
    top: 87px;
    border: none;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    padding: 5px 10px;
    background-color: #7c9a6d;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    color: white;
    z-index: 2;
}

.buton-vizibilitate-categorii:hover {
    background-color: #5a754e;
}
