.chenar-mesaj {
    position: fixed;
    top: 100px;
    right: 20px;
    background-color: #F7DCB9;
    color: #914F1E;
    border: 1px solid #ffbf6b;
    border-radius: 5px;
    padding: 15px 25px;
    font-weight: bold;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    animation: fadeInOut 3s ease-in-out;
}

@keyframes fadeInOut {
    0% { opacity: 0; transform: translateY(-10px); }
    10% { opacity: 1; transform: translateY(0); }
    90% { opacity: 1; }
    100% { opacity: 0; transform: translateY(-10px); }
}
