.pagina-lipsa {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 200px;
    text-align: center;
}

.pagina-lipsa h1 {
    font-size: 3em;
    color: #F7DCB9;
    margin-bottom: 20px;
}

.pagina-lipsa p {
    font-size: 1.2em;
    color: #F7DCB9;
    margin-bottom: 15px;
}

.pagina-lipsa a {
    color: #F7DCB9;
    text-decoration: none;
    font-weight: bold;
}

.pagina-lipsa a:hover {
    text-decoration: underline;
}

.pagina-lipsa::before {
    content: "😔"; 
    font-size: 5em;
    margin-bottom: 30px;
}