.postare-noua {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.titlu {
    font-family: "Spicy Rice", serif;
    font-style: normal;
    color: #914F1E;
    font-size: 30px;
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    margin-bottom: 10px;
    margin: 150px auto 0 auto; 
    text-align: center;
    width: fit-content;
}

#postare-form {
    background: #F7DCB9;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    width: 350px;
    text-align: center;
}

#postare-form input, #postare-form select, #postare-form textarea {
    font-family: "Poppins", sans-serif;
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border 0.3s;
    box-sizing: border-box;
}

#postare-form input:focus, #postare-form select:focus, #postare-form textarea:focus {
    border: 1px solid #914F1E;
    outline: none;
}

#postare-form textarea {
    resize: vertical;
}

#postare-form button {
    background-color: #7c9a6d;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

#postare-form button:hover {
    background-color: #5a754e;
}
