.profil {
    font-family: "Poppins", sans-serif;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #102820;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.profil-imagine {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

.profil strong {
    color: #F7DCB9;
}

.profil p {
    font-size: 1.1em;
    font-weight: bold;
    color: #4C6444;
    margin: 10px 0;
}

.profil button {
    font-family: "Poppins", sans-serif;
    background-color: #4D2D18;
    color: #CABA9C;
    border: none;
    padding: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 15px;
    transition: background-color 0.3s ease;
}

.profil button:hover {
    background-color: #744424;
}

.profil label {
    display: block;
    font-weight: bold;
    color: #F7DCB9;
    margin-top: 10px;
}

.profil textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    resize: vertical;
}

.profil input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

.imagine-selectata {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-top: 10px;
    margin-left: 15px;
}

.imagine-option {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border-color 0.3s ease;
}

.imagine-option.selected {
    border-color: #744424;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.imagine-option img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.lista-sanctiuni {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
    background-color: #4C6444;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.lista-sanctiuni li {
    padding: 16px 20px;
    transition: background-color 0.3s ease;
    border-bottom: 1px solid #CABA9C;
}

.lista-sanctiuni li:last-child {
    border-bottom: none;
}

.lista-sanctiuni li:hover {
    background-color: #3B5133;
}

.continut-sanctiune {
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-weight: 500;
    color: #102820;
}

.lista-sanctiuni strong {
    color: #F7DCB9;
}

.lipsa-sanctiuni {
    color: #F7DCB9;
}
