.profil {
    font-family: "Poppins", sans-serif;
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.profil-imagine {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.profil h2 {
    color: #914F1E;
    margin-bottom: 15px;
}

.profil strong {
    color: #914F1E;
}

.profil p {
    font-size: 1.1em;
    color: #5a754e;
    margin: 10px 0;
}
