.sanctiuni {
    font-family: "Poppins", sans-serif;
    margin: 20px auto;
    margin-bottom: 20px;
    max-width: 700px; 
    padding: 30px;
    background-color: #102820;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); 
}

.sanctiuni button {
    font-family: "Poppins", sans-serif;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    background-color: #8A6240;
    color: #CABA9C;
    font-size: 14px;
    cursor: pointer;
}

.detalii-utilizator button {
    float: right;
}

.sanctiuni button:hover {
    background-color: #744424;
}

.utilizator {
    display: flex;
    flex-direction: column; 
    background-color: #4D2D18;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.informatii-utilizator {
    display: flex;
    align-items: center;
    margin-bottom: 15px; 
}

.imagine-profil {
    width: 60px; 
    height: 60px;
    border-radius: 50%;
    margin-right: 20px;
}

.detalii-utilizator {
    flex-grow: 1;
}

.detalii-utilizator strong {
    font-size: 18px;
    font-weight: bold; 
    color: #F7DCB9;
}

.sanctiuni-utilizator {
    margin-top: 15px;
    padding-left: 20px;
    border-left: 3px solid #F7DCB9;
}

.sanctiuni-utilizator h4 {
    color: #F7DCB9;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1.1em;
}

.sanctiuni-utilizator ul {
    list-style: none;
}

.sanctiuni-utilizator li {
    background-color: #8A6240; 
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 6px;
    color: #F7DCB9;
}

.sanctiuni-utilizator li p {
    margin: 5px 0;
}

.sanctiuni-utilizator li p strong {
    color: #F7DCB9;
}

.continut-sanctiune span {
    color: #F7DCB9;
    font-weight: bold;
}

.continut-sanctiune button {
    background-color: #102820;
    width: 70px;
}

.continut-sanctiune button:hover {
    background-color: #184530;
}

.fara-sanctiuni {
    color: #F7DCB9;
    font-weight: bold;
    font-style: italic;
    margin-top: 10px;
}

.formular-sanctiune {
    color: #F7DCB9;
    margin-top: 10px;
    padding: 15px;
    border-radius: 5px;
    background-color: #8A6240;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.formular-sanctiune label {
    font-weight: bold;
}

.formular-sanctiune input {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.formular-sanctiune-butoane {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.formular-sanctiune button:first-of-type {
    background-color: #ddd;
    color: black;
}

.formular-sanctiune button:last-of-type {
    background-color: #4D2D18;
    color: #F7DCB9;
}

.formular-sanctiune button:hover {
    opacity: 0.8;
}

.modal button {
    margin: 5px;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}

.modal button:first-of-type {
    background-color: #ddd;
    color: black;
}

.modal button:last-of-type {
    background-color: #914F1E;
    color: white;
}

.modal button:hover {
    opacity: 0.8;
}

#buton-stergere-utilizator {
    background-color: #102820;
    padding: 8px 10px;
    margin-left: 469px;
}

#buton-stergere-utilizator:hover {
    background-color: #184530;
}
